%img{:src => "http://#{$graphite_host}/render/?target=drawAsInfinite%28events.test.#{@event}%29&from=-20minutes&template=plain&width=1000&height=500&lineWidth=2", :alt => "Graph"}


%img{:src => "http://#{$graphite_host}/render/?target=carbon.agents.mon03.metricsReceived&target=drawAsInfinite%28events.test.#{@event}%29&from=-1hour&template=plain&width=1000&height=500&lineWidth=2", :alt => "Graph"}
